name: Node.js CI

on:
  pull_request:
    branches: [ main ]

permissions:
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v2

    - name: Execute text
      run: npm test

    - name: if fail
      uses: actions/github-script@v7
      with:
        github-token: ${{github.token}}
        script: |
          const pull_number = context.payload.pull_request.number
          await github.rest.pulls.createReview({
            ...context.repo,
            pull_number,
            body:"테스트가 실패했습니다.",
            event: "REQUEST_CHANGES"
          })
          await github.rest.pulls.update({
            ...context.repo,
            pull_number,
            state: "closed"
          })
      if: failure()                 
    
